@model IEnumerable<AspNetCoreEntityFrameworkApp.Models.Course>

<div class="container text-center">
    <h1>Courses</h1>
</div>


<div class="p-5 d-flex flex-wrap gap-5">
    @foreach (var item in Model)
    {
            <div class="classCard card bg-light" style="width: 25rem; height: 15rem;">
                <div class="card-header">
                    <a asp-action="Details" asp-route-id="@item.Id"><h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4></a>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">An: @Html.DisplayFor(modelItem => item.StudyYear)</h6>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
    }
</div>