@model IEnumerable<AspNetCoreEntityFrameworkApp.Models.Teacher>

    <div class="container text-center">
        <h1>Teachers</h1>
    </div>

    <div class="container text-end">
        <p>
            <a asp-action="Create">Create New Teacher</a>
        </p>
    </div>

<!-- Date de contact profesori -->
<table class="container table table-striped text-center">
    <thead>
        <tr>
            <th>Nume</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>